.team-section {
    background-color: #f4f4fd;
}

.team-item {
    background-color: #FFFFFF;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}

.team-role {
    color: #434455;
    text-align: center;
    letter-spacing: 0.02em;
}